<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjzx.mapper.HotCompanyMapper">

    <select id="combogridMax" resultType="com.sjzx.model.vo.output.HotCompanyCombogridVO">
        select a.id, a.code, a.name, a.hot_type_id, a.hot_type_ids, a.max_change,
        (select data_date from hot_company_data order by id desc limit 1) dataDate,
        (select full_time from hot_company_data order by id desc limit 1) fullTime,
        (select continuity_time from hot_company_data order by id desc limit 1) continuityTime,
        (select sort from hot_company_data order by id desc limit 1) sort
        from hot_company a
        <where>
            <if test="q != null and q.trim() != ''">
                and a.code like concat(#{q}, '%') or a.name like concat('%', #{q}, '%')
            </if>
        </where>
        limit 20
    </select>

</mapper>
